fastapi[standard]==0.115.11
python-multipart==0.0.20

opencv-python==4.11.0.86

PyJWT==2.10.1
passlib==1.7.4
bcrypt==4.3.0

SQLAlchemy==2.0.39
alembic==1.15.1

pydantic-settings==2.8.1

celery[redis]==5.5.1